.navbar {
    display: flex;
    justify-content: space-between; /* Alinha os itens do menu horizontalmente com espaço entre eles */   
    background-color: rgb(0, 0, 0);
    padding: 10px; /* Espaçamento interno da barra de navegação */
    color: white;
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

nav {
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
}